### Bibliotecas

In [26]:
import numpy as np
import pandas as pd

### Arquivos

In [37]:
rainsource_Rodrigo = '/Users/marcelofernandes/My Drive/Arquivos/rain_source_V3.csv'

rainsource_Marcelo = '/Users/marcelofernandes/My Drive/Arquivos/Rain_source_2023_1109.csv'

### Comparações

In [38]:
df_rs_rodrigo = pd.read_csv(rainsource_Rodrigo)
df_rs_rodrigo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87648 entries, 0 to 87647
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  87648 non-null  int64
 1   0           87648 non-null  float64
 2   1           87648 non-null  float64
 3   2           87648 non-null  float64
 4   3           87648 non-null  float64
 5   4           87648 non-null  float64
 6   5           87648 non-null  float64
 7   6           87648 non-null  float64
 8   7           87648 non-null  float64
 9   8           87648 non-null  float64
 10  9           87648 non-null  float64
 11  10          87648 non-null  float64
 12  11          87648 non-null  int64
 13  12          87648 non-null  float64
 14  13          87648 non-null  float64
 15  14          87648 non-null  float64
 16  15          87648 non-null  float64
 17  16          87648 non-null  float64
 18  17          87648 non-null  float64
 19  18          87648 non-null  float64
 20  19          87648 non-null  float64
 21  20          87648 non-null  float64
 22  21          87648 non-null  float64
 23  22          87648 non-null  float64
 24  23          87648 non-null  float64
 25  24          87648 non-null  float64
 26  25          87648 non-null  float64
 27  26          87648 non-null  float64
 28  27          87648 non-null  float64
 29  28          87648 non-null  float64
 30  29          87648 non-null  int64
 31  30          87648 non-null  float64
 32  31          87648 non-null  float64
dtypes: float64(30), int64(3)
memory usage: 22.1 MB

In [39]:
df_rs_rodrigo.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
1,3600,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,...,0.0,5.555556e-08,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
2,7200,0.0,0.0,0.0,0.0,5.555556e-08,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
3,10800,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
4,14400,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0

In [40]:
df_rs_marcelo = pd.read_csv(rainsource_Marcelo)
df_rs_marcelo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3739 entries, 0 to 3738
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   indexador  3739 non-null   int64
 1   0          3739 non-null   float64
 2   1          3739 non-null   int64
 3   2          3739 non-null   float64
 4   3          3739 non-null   float64
 5   4          3739 non-null   float64
 6   5          3739 non-null   float64
 7   6          3739 non-null   float64
 8   7          3739 non-null   float64
 9   8          3739 non-null   float64
 10  9          3739 non-null   float64
 11  10         3739 non-null   float64
 12  11         3739 non-null   float64
 13  12         3739 non-null   float64
 14  13         3739 non-null   float64
 15  14         3739 non-null   float64
 16  15         3739 non-null   float64
 17  16         3739 non-null   float64
 18  17         3739 non-null   float64
 19  18         3739 non-null   float64
 20  19         3739 non-null   float64
 21  20         3739 non-null   float64
 22  21         3739 non-null   float64
 23  22         3739 non-null   float64
 24  23         3739 non-null   float64
 25  24         3739 non-null   float64
 26  25         3739 non-null   float64
 27  26         3739 non-null   float64
 28  27         3739 non-null   float64
 29  28         3739 non-null   float64
 30  29         3739 non-null   int64
 31  30         3739 non-null   float64
 32  31         3739 non-null   float64
dtypes: float64(30), int64(3)
memory usage: 964.1 KB

In [43]:
df_rs_marcelo.head()

,indexador,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,0,0.002256,0,0.004700,0.000564,0.003384,0.000940,0.124340,0.118046,0.000000,...,0.004512,0.001692,0.123665,0.000752,0.0,0.117744,0.002820,0,0.000376,0.0
1,3600,0.001504,0,0.006768,0.000000,0.002256,0.001692,0.122961,0.116223,0.000000,...,0.003384,0.000188,0.121983,0.000000,0.0,0.118610,0.005828,0,0.000752,0.0
2,7200,0.003948,0,0.007520,0.000000,0.002444,0.002444,0.122457,0.117503,0.000376,...,0.001692,0.000564,0.123242,0.000188,0.0,0.119123,0.001316,0,0.000752,0.0
3,10800,0.004136,0,0.010152,0.000000,0.002444,0.003196,0.122235,0.118328,0.003008,...,0.004888,0.000000,0.120021,0.000000,0.0,0.116959,0.007708,0,0.001880,0.0
4,14400,0.000940,0,0.007144,0.001504,0.002444,0.000940,0.120573,0.114943,0.000000,...,0.002068,0.000000,0.117039,0.000000,0.0,0.113112,0.004136,0,0.004888,0.0

In [41]:
df_rs_rodrigo.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
count,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,...,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,8.764800e+04,87648.0,8.764800e+04,8.764800e+04
mean,1.577646e+08,4.538435e-08,3.698665e-08,4.424199e-08,3.812076e-08,3.782047e-08,3.824198e-08,4.245454e-08,4.137605e-08,3.308499e-08,...,4.198518e-08,3.791111e-08,3.785660e-08,4.498027e-08,3.984118e-08,3.647291e-08,3.887171e-08,0.0,4.469519e-08,4.447588e-08
std,9.108699e+07,3.759952e-07,3.337202e-07,3.658754e-07,3.109648e-07,3.126484e-07,3.252022e-07,3.639109e-07,3.481028e-07,3.026314e-07,...,3.722826e-07,3.203435e-07,3.284520e-07,3.682493e-07,3.516382e-07,3.011529e-07,3.271908e-07,0.0,3.273635e-07,3.519026e-07
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
25%,7.888230e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
50%,1.577646e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
75%,2.366469e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
max,3.155292e+08,1.687500e-05,1.555556e-05,1.894444e-05,1.638889e-05,1.422222e-05,1.494444e-05,2.011111e-05,1.506944e-05,1.277778e-05,...,1.916667e-05,1.633333e-05,2.027778e-05,1.777778e-05,1.937500e-05,1.588889e-05,1.652778e-05,0.0,1.344444e-05,2.066667e-05

In [42]:
df_rs_marcelo.describe()

,indexador,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
count,3.739000e+03,3739.000000,3739.0,3739.000000,3739.000000,3739.000000,3739.000000,3739.000000,3739.000000,3739.000000,...,3739.000000,3739.000000,3739.000000,3739.000000,3739.000000,3739.000000,3739.000000,3739.0,3739.000000,3739.000000
mean,6.728400e+06,0.006695,0.0,0.006247,0.000323,0.006269,0.007365,0.129181,0.124502,0.004073,...,0.009960,0.005243,0.132433,0.001421,0.001308,0.125769,0.009040,0.0,0.005791,0.000207
std,3.886202e+06,0.005234,0.0,0.003273,0.001308,0.003979,0.007780,0.022693,0.023464,0.004186,...,0.006774,0.004606,0.027217,0.002201,0.002414,0.024187,0.007775,0.0,0.005392,0.001400
min,0.000000e+00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.022140,0.000000,0.000000,...,0.000000,0.000000,0.023177,0.000000,0.000000,0.020589,0.000000,0.0,0.000000,0.000000
25%,3.364200e+06,0.002444,0.0,0.003948,0.000000,0.003196,0.000000,0.115287,0.110478,0.000188,...,0.005452,0.001128,0.115719,0.000000,0.000000,0.110814,0.002444,0.0,0.001504,0.000000
50%,6.728400e+06,0.005640,0.0,0.006016,0.000000,0.006016,0.004888,0.127191,0.122427,0.002820,...,0.008460,0.004700,0.128670,0.000376,0.000000,0.122306,0.007708,0.0,0.004700,0.000000
75%,1.009260e+07,0.010152,0.0,0.008084,0.000000,0.008836,0.012596,0.142765,0.138022,0.006768,...,0.012596,0.008084,0.150012,0.002068,0.001692,0.140782,0.013912,0.0,0.008648,0.000000
max,1.345680e+07,0.032336,0.0,0.022560,0.016168,0.023688,0.042488,0.194286,0.195575,0.024252,...,0.049068,0.029140,0.207087,0.015792,0.020492,0.194539,0.040796,0.0,0.036096,0.019176

In [44]:
arquivo_valida = '/Users/marcelofernandes/Library/CloudStorage/GoogleDrive-marcelo.fernandes@alumni.usp.br/.shortcut-targets-by-id/1M--OnzbTYagrNv5Ss9fjWlBxCMmasz-Y/10_Mestrado_2021_Marcelo Fernandes/8_Dados/estações_meteorológicas/meteorologicas_2023/dados_cge___P1000850__M_Boi_Mirim__PMSP_MB_01_.csv'

In [45]:
df_valida = pd.read_csv(arquivo_valida)

In [46]:
df_valida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22433 entries, 0 to 22432
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Posto           22433 non-null  int64
 1   DATA            22433 non-null  object
 2   Unnamed: 2      22433 non-null  float64
 3   PLU(mm)         22301 non-null  float64
 4   Vel.VT(m/s)     22330 non-null  float64
 5   Dir.VT(o)       22416 non-null  float64
 6   Temp(oC)        22416 non-null  float64
 7   Umid.Rel.(%)    22416 non-null  float64
 8   Pressão(mb)     22416 non-null  float64
 9   Bateria(V)      22416 non-null  float64
 10  Rajada.VT(m/s)  0 non-null      float64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.9+ MB

In [47]:
df_valida.head()

,Posto,DATA,Unnamed: 2,PLU(mm),Vel.VT(m/s),Dir.VT(o),Temp(oC),Umid.Rel.(%),Pressão(mb),Bateria(V),Rajada.VT(m/s)
0,1000850,2023-01-01 00:00:00,19.8,0.000,101.290,20.065,94.567,932.20,13.042,0.752,NaN
1,1000850,2023-01-01 00:10:00,19.8,0.188,101.290,20.126,94.988,932.14,13.042,0.940,NaN
2,1000850,2023-01-01 00:20:00,19.8,0.564,100.898,20.106,95.122,931.82,13.017,0.940,NaN
3,1000850,2023-01-01 00:30:00,19.8,0.000,84.927,20.065,95.171,932.39,13.042,0.940,NaN
4,1000850,2023-01-01 00:40:00,19.8,0.000,84.730,20.025,95.226,931.78,13.017,0.940,NaN

In [49]:
# Converter a coluna 'DATA' para datetime
df_valida['DATA'] = pd.to_datetime(df_valida['DATA'])
    
# Definir a coluna 'DATA' como índice
df_valida.set_index('DATA', inplace=True)

# Somar os valores de 'PLU(mm)' a cada hora e criar um novo DataFrame com os dados agregados
df_chuva_valida = df_valida['PLU(mm)'].resample('h').sum().to_frame()

In [50]:
df_chuva_valida.head()

                     PLU(mm)
DATA
2023-01-01 00:00:00    0.940
2023-01-01 01:00:00    1.692
2023-01-01 02:00:00    2.444
2023-01-01 03:00:00    3.196
2023-01-01 04:00:00    0.940

In [52]:
df_rs_marcelo.head()

,indexador,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,0,0.002256,0,0.004700,0.000564,0.003384,0.000940,0.124340,0.118046,0.000000,...,0.004512,0.001692,0.123665,0.000752,0.0,0.117744,0.002820,0,0.000376,0.0
1,3600,0.001504,0,0.006768,0.000000,0.002256,0.001692,0.122961,0.116223,0.000000,...,0.003384,0.000188,0.121983,0.000000,0.0,0.118610,0.005828,0,0.000752,0.0
2,7200,0.003948,0,0.007520,0.000000,0.002444,0.002444,0.122457,0.117503,0.000376,...,0.001692,0.000564,0.123242,0.000188,0.0,0.119123,0.001316,0,0.000752,0.0
3,10800,0.004136,0,0.010152,0.000000,0.002444,0.003196,0.122235,0.118328,0.003008,...,0.004888,0.000000,0.120021,0.000000,0.0,0.116959,0.007708,0,0.001880,0.0
4,14400,0.000940,0,0.007144,0.001504,0.002444,0.000940,0.120573,0.114943,0.000000,...,0.002068,0.000000,0.117039,0.000000,0.0,0.113112,0.004136,0,0.004888,0.0